
.title {
    font-size: large;
    font-weight: bold;
}
.verse {
    display:inline;
}

.number {
    font-weight: bold;
    display: inline;
    font-family: "Eagle Lake";
    font-size: 11px;

}
.ending-verse {
    display: inline;
}

.article-container {
    padding-right: 40px;
    padding-bottom: 30px;
    margin-left: 60px;
    margin-right: 20px;
    line-height: 30px;
}