
.title {
    font-size: large;
    font-weight: bold;
}
.verse {
    display:inline;
    margin-left: 0.5em;
}

.number {
    font-weight: bold;
    display: inline;
    font-family: "Eagle Lake";
    font-size: 11px;
    position: relative;
    top: -0.7em;
    margin-right: 0.2em;
}
.ending-verse {
    display: inline;
}

.article-container {
    padding-top: 2em;
    padding-right: 40px;
    padding-bottom: 30px;
    margin-left: 60px;
    margin-right: 20px;
    line-height: 30px;
}