
.title {
    font-size: large;
    font-weight: bold;
}
.verse {
    display:inline;
}

.number {
    font-weight: bold;
    display: inline;
    font-family: "Eagle Lake";
    font-size: 11px;

}
.ending-verse {
    display: inline;
}
div {
    width: 320 px;
    padding-top: 10 px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-left: 30px;
    margin-right: 10px;
    line-height: 30px;


}