
.proverb-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.library-page .translation-toggle {
    margin-left: .9em;

}
.test-button {
    margin-left: 20px;
    height: 20px;
}
.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}
.chapter-select {
}
.chapter-select.text {
    font-family: "Crimson Text";
    font-weight: bold;
    color: #4f6aa2;
}

.chevron-down-outline {
    font-size: large;
}

/* Popover */
#select-mode-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#mode-text {
    display: inline-block;
}
#mode-button {
    display: inline-block;
    width: 100%
}
#popover-filter {
    --width: 90vw;
    --max-height: 80vh;
    --max-width: 450px;
    overflow: hidden;
}
#popover-filter .popover-viewport {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
#popover-filter .popover-viewport ion-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#popover-filter #mode-text {
    margin-left: 0.5em;
    padding-bottom: 0em;
}
#popover-filter .title {
    margin-bottom: 0.2em;
}
#filter-container {
    overflow: hidden;
    width: 90vw;
    max-height: 80vh;
    max-width: 450px;
    box-sizing: border-box;
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
}
#select-mode-container {
    margin-top: 1em;
    display: block;
}
#top-shadow {
    height: 30px;
    width: 100%;
    /*box-shadow: 0 4px 5px -5px rgba( 50, 50, 50, .8);*/
    box-shadow: 0 4px 10px -7px rgba( 70, 70, 70, .8);
    z-index: 100;
}
#select-mode-container h3 {
    font-size: 1.8em;
}
#select-mode-container ion-button{
    margin-top: .5em;
    font-size: 1em;
}
#verse {
    margin-top: 30px;
}
.selection-box {
    /*border-top: 1px solid #ccc;*/
    margin-top: 0em;
    padding-top: .5em;
    overflow-y: scroll;
    padding-right: 1em;
    padding-bottom: 1em;
}
.selection-box .title {
    margin-top: 0;
    font-size: 1.1em;
    padding-left: 1em;
    padding-top: 1em;
}
.selection-box .chapter-select {
    font-size: .9em;
}
.lead-title {
    margin-top: 0;
}
.sub-title {
    font-size: 0.75em;
    margin-bottom: 0.25em;
    font-weight: bold;
}

/*p{
    color: #4f6aa2;
    background-color: 009900;
    width: 400px;

}
h2{
    font-size: 1.5em;
    background-color: #ccc;
    margin: 20px;
    padding: 40px
}
*/
