
.title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -0.75em;
    margin-top: 2em;
}
.title-text {
    font-weight: bold;
    font-size: 1.75em;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: center
}
.title-filigree {
    width: 50%;
    max-width: 10em;
}
.bookmark-icon {
    margin-bottom: 0.5em;
    font-size: 2.5em;
    margin-bottom: 0.15em;
    opacity: 0.25;
}
.bookmarked-page {
    --notification-mode-transition-time: 1s;
}
.select-all-default {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}
.half-container-left {
    border-right: solid 1px #ccc;
    flex: 1;
}
.half-container-right {
    border-left: solid 1px #ccc;
    flex: 1;
}
.category-list-container ion-list {
    --padding-bottom: 5em;
    height: 100%;
}
.folder-list {
    padding-top: 1em;
    padding-bottom: 6em;
}
.new-folder {
    height: auto;
    overflow: hidden;
    transition-property: height var(--notification-mode-transition-time) ease;
}
.new-folder-hidden {
    height: 0;
}
.new-folder > h3 {
    margin: 0;
    padding: 0.5em 0.75em;
    font-weight: bold;
}
@keyframes touchable-opacity {
    0%{opacity: 1}
    5%{opacity: .2}
    100%{opacity: 1}
}
.blink {
    animation: touchable-opacity 1s 1;
}
.notification-default {
    transition: all 1s ease 0.2s;
    /*transition: opacity 0.2s ease;*/
    transition-property: width, padding-left, padding-right, opacity;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    width: 0px;
    opacity: 0;
}
.notification-revealed {
    width: 2em;
    padding-right: 1em;
    padding-left: 0.25em;
    opacity: 1;
}
.delete-default {
    transition: all 1s ease 0.2s;
    /*transition: opacity 0.2s ease;*/
    transition-property: width, padding-left, padding-right, opacity;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    width: 0px;
    opacity: 0;
    height: 0.85em;
}
.delete-revealed {
    width: 1em;
    padding-right: 1em;
    padding-left: 0.25em;
    opacity: 1;
}
.button-holder {
    /*position: fixed;
    padding-bottom: 1.25em;
    bottom: 0;
    width: 100%;*/
    display: flex;
    justify-content: center;
    width: 75%;
}
.set-notification-button {
    --box-shadow: 0 0 5px 5px #fff;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease-out;
}
.folders-menu-content {
    height: 100%;
}