.nav-arrow-d{
    position:fixed;
    top:50%;
    height:10%;
}
#right-arrow {
    right:0;
    
}
#left-arrow {
    left:0;
}

#chev-right{
    margin-right:5px;
    border-radius:3px;
}
#chev-left{
    margin-left:5px;
    border-radius:3px;
}

.arrowButton{
    height:100px;
}
.forward-button {
    margin-right: auto;

}
.back-button {
    margin-right: auto;
}
.button-col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
   
}
.button-col ion-button {
    --padding-start: 0;
    --padding-end: 0;
}
.discover-content ion-grid, .discover-content ion-row {
     height: 100%;
 }
.discover-content ion-col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.discover-content .statement-view {
    max-width: 97.5%;
}