/* TranslationToggle */
.translation-toggle-container {
}
.translation-toggle {
    --background: var(--ion-color-primary-tint) !important;
    --color: white !important;
    height: 1.2em !important;
    --border-radius: .6em !important;
    /*--border-color: var(--ion-color-primary-tint);
    --border-width: 2px;
    --border-style: solid;*/
}
.translation-toggle .version-tag {
    letter-spacing: 2px;
    font-size: .6em;
    font-weight: normal;
    padding: 0 1em;
    margin-top: 0;
    margin-bottom: 0;
}
.translation-toggle .spin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .5em;
    margin-right: .5em;
}