.statement-view {
    margin: 2em auto;
    margin-bottom: 1em;
    box-shadow: 0px 0px 8px 8px #ddd;
    border-radius: 4px;
    padding: 1em 2em;
    width: 100%;
    max-width: 90%;
}
.todo-list h1 {
    margin: 0;
    margin-bottom: .25em;
}
.verse-name {
    /* Font options */
    /*
        font-family: "Bilbo Swash Caps";
        font-size: 1.4em;
    */
    font-family: "Eagle Lake";
    font-size: .85em;
}
.verse-content {
    color: black;
    font-weight: 600;
}
.info-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .4em;
}
.bar {
    background-color: black;
    width: 4em;
    height: 8px;
    border-radius: 1px;
    margin-top: 1.5em;
    margin-bottom: .8em;
}
.info-bar .verse-name {
    margin-top: .2em;
    margin-bottom: .2em;
}
.info-bar .save-icon {
    font-size: 1.7em;
    margin-right: 0.5em;
}
.bubble-animation {
    animation-name: bubble;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}
@keyframes bubble {
  0% {
      transform: scale(1);
	}
  50% {
      transform: scale(0.5);
	}
  75% {
      transform: scale(1.25);
  }
  100% {
      transform: scale(1);
  }
}
