/* Global */
@font-face{
    font-family: "Crimson Text";
    font-width: normal;
    font-style: normal;
    src: url("../fonts/crimson/CrimsonText-Regular.ttf");
}
@font-face{
    font-family: "Crimson Text";
    font-width: bold;
    font-style: normal;
    src: url("../fonts/crimson/CrimsonText-Bold.ttf");
}
@font-face{
    font-family: "Crimson Text";
    font-width: normal;
    font-style: normal;
    src: url("../fonts/crimson/CrimsonText-Regular.ttf");
}
@font-face{
    font-family: "Eagle Lake";
    font-width: normal;
    font-style: normal;
    src: url("../fonts/eagle-lake/EagleLake-Regular.ttf");
}
@font-face{
    font-family: "Bilbo Swash Caps";
    font-width: normal;
    font-style: normal;
    src: url("../fonts/bilbo-swash-caps/BilboSwashCaps-Regular.ttf");
}
@font-face{
    font-family: "Mr Dafoe";
    font-width: normal;
    font-style: normal;
    src: url("../fonts/mr-dafoe/MrDafoe-Regular.ttf");
}
* {
    font-family: "Crimson Text";
    font-style: normal;
}
